html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
    height: 75vh;
    min-height: 500px;
}

.calculator {
    width: 400px;
    border: 2px solid #d9ba64;
    border-radius: 10px;
    padding: 20px;
    background-color: grey;
}

.display {
    text-align: right;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: white;
}

.btn {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: grey;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.span-4 {
    grid-column: span 4;
}

#result {
    min-height: 30px;
    font-size: 20px;
}

#input {
    min-height: 60px;
    font-size: 40px;
}